{% extends 'base.html' %}

{% block title %}
Our tutors
{% endblock %}

{%block active_tutors %}
active
{% endblock %}

{% block content %}
<h3>New tutor registration page</h3>

<form action="/register" method="post" enctype="multipart/form-data">

  <label for="txt_name" class="form-label">Name </label>
  <input type="text" class="form-control" name="txt_name" id="txt_name" placeholder="Insert your name" minlength="3"
    maxlength="30" pattern="[A-Za-z]{3,30}" required />

  <label for="txt_surname" class="form-label">Surname </label>
  <input type="text" class="form-control" name="txt_surname" id="txt_surname" placeholder="Insert your surname"
    minlength="3" maxlength="30" pattern="[A-Za-z]{3,30}" required />

  <label for="txt_quote" class="form-label">Quote </label>
  <textarea class="form-control" name="txt_quote" id="txt_quote" placeholder="Insert a quote that describes you"
    rows="3" required></textarea>

  <label for="txt_name" class="form-label">Upload your profile image </label>
  <input type="file" id="img_profile" name="img_profile" accept=".jpg, .png, .jpeg" required />

  <br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

{% endblock %}