.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr 5fr 2fr;
  gap: 0.5rem;
}

header,
nav,
section,
aside,
article,
footer {
  border: dashed 0.5px;
}

.myheader {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
  background-color: purple;
}

.mynav {
  grid-column-start: 1;
  grid-column-end: 4;
}

.myfooter {
  grid-column-start: 1;
  grid-column-end: 4;
}

.logo {
  width: 40%;
}