{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
<aside id="myaside" class="col-lg-3 col-md-12">
  <ul>
    <li>
      <a class="link-primary" href="#">Today</a>
    </li>
    <li>
      <a class="link-primary" href="#">This week</a>
    </li>
    <li>
      <a class="link-primary" href="#">This month</a>
    </li>
  </ul>
</aside>
<main class="col-lg-9 col-md-12">
  {% for post in posts %}
  <article class="row border p-2 mx-2 my-4">
    <div class="col-lg-3 col-md-6 col-sm-12 px-0">
      {% if post.img %}
      <a href="{{url_for('single_post', id=post.id)}}"><img class="w-100 p-2"
          src="{{ url_for('static', filename=post.img) }}" alt="..."></a>
      {% endif %}
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <section class="d-flex align-items-center mt-2 mb-4">
        <div><img class="usrimg rounded-circle" src="{{ url_for('static', filename= post.usrimg ) }}"
            alt="This is the image of user {{ post.usrname |e }}"></div>
        <div>
          <h4 class="username">{{ post.usrname |e }}</h4>
        </div>
        <div class="flex-grow-1 text-end">
          <p>{{ post.date |e }}</p>
        </div>
      </section>
      <p>{{ post.post |e }}</p>
    </div>
  </article>
  {% endfor %}
</main>

<button type="button" class="mybutton" data-bs-toggle="modal" data-bs-target="#createModal">
  +
</button>
<div class="modal fade" id="createModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Create a new post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/posts/new" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            <label for="usrnameSelect" class="form-label">Username</label>
            <select class="form-select" aria-label="Tell me who you are" id="usrnameSelect" name="usrname">
              {% for user in users %}
              <option value="{{user}}">{{user}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="postTextArea" class="form-label">What’s on your mind?</label>
            <textarea class="form-control" id="postTextArea" name="post" rows="3" placeholder="Enter text for your post"
              required minlength="30" maxlength="200"></textarea>
          </div>
          <div class="mb-3">
            <label for="imageFile" class="form-label">Add an image, if you want</label>
            <input class="form-control" name="image" type="file" id="imageFile">
          </div>
          <div class="mb-3">
            <label for="dateTextInput" class="form-label">Select a date</label>
            <input class="form-control" type="date" name="date" id="dateTextInput" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}